# Example

In [9]:
import sys
import pandas as pd

sys.path.insert(1, "..")

from update_registry import update_registry

In [11]:
update_registry(
        config_file="registry_config.yml",
        input_reg_file="registry.csv",
        output_reg_file="updated_registry.csv",
        card_dir="projects",
        write_card_updates=False,
    )

In [12]:
registry_df = pd.read_csv("registry.csv")
registry_df

Empty DataFrame
Columns: [type, id, project_added]
Index: []

In [14]:
updated_reg_df = pd.read_csv("updated_registry.csv")
updated_reg_df

   type    id project_added
0  node  1001     Project B
1  node  1002     Project B
2  link   501     Project B
3  node  1003     Project A
4  node  1004     Project A
5  link   502     Project A